@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}

/*coupon*/



#coupon {
    position: absolute;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.562);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.mainspace {
    display: flex;
    position: inherit;
    width: 60%;
    margin-top: 2rem;
    justify-content: center;
}

.popupcontent {
    position: relative;
    width: 50%;
}

#PopupImage {
    width: 99%;
    box-shadow: 8px 8px 64px #bbbbbb, -8px -8px 64px #65656567;
    height: 619px;

}

#couponClose {
    position: absolute;
    right: 2%;
    top: 3%;
    font-size: clamp(0.5em, 3vw, 1em);
    background: white;
    padding: 0 1.5%;
    cursor: pointer;
    border-radius: 10%;
}

@media screen and (max-width:800px) {
    .popupcontent {
        position: relative;
        width: 100%;
    }

    .mainspace {
        margin-top: -5rem;
    }
}

/*dark/light*/
:root{
    --primary-color:#ffffff;
    --secondary-color:black;
    --third-color:white;

}
.dark-theme{
    --primary-color:black;
    --secondary-color:#ffffff;
    --third-color:#f3b712;

}
/*navbar*/
#navbar{
    position: sticky;
    top:0;
    left:0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 1px 0px 10px rgba(0,0,.5);
    background: black;
}
.navbar-brand #image{
    width:60px;
    height: 60px;
    border-radius: 59px;
}
#navbarSupportedContent a{
    color:#fff;
    border-bottom: 2px solid transparent;
    margin:10px;
    font-size: large;
}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid white;
}
#navbar button{
    background-color: black;

    border-radius: 15px;
    font-size: 10px;
    margin:5px
}
#navbar button:hover{
    transform: scale(1.3);
}
.fa-solid{
    margin:5px;
    color: white;
    font-size: 25px;
    align-items: center;
}
.fa-solid:hover{
    transform: scale(1.02);
}
.carousel-caption{
    bottom: 180px !important;

}

/*category*/
#category h1{
    font-family: Chapaza;
    text-decoration-thickness:from-font;
    text-transform: uppercase;
    z-index: 0;

}
#category h1::before{
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0284/5599/3449/files/Vector_36.png?v=1610691840);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    width: 165px;
    height: 85px;
    z-index: -1;
}
#category h1::after{
    content: '';
    background: #cc0099;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto;
}
#category .card:hover{
    transform: scale(1.02);
}
#category .inner{
    overflow: hidden;
    border-radius: inherit
}
#category .inner img{
    transition: all 1.5s ease;
    
}
#category .inner:hover img{
    transform: scale(1.5);
}
#category .card h4{
    text-transform: capitalize;
    font-size: bold;
    font-family: 'Roboto', sans-serif;
}
#category .card .card-text{
    font-size: 25px;
    color: #864f23;
}

/*products*/
#product h1{

    text-decoration-thickness:from-font;
    text-transform: uppercase;

}
#product h1::after{
    content: '';
    background: #cc0099;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto;
}
#product .card:hover{
    transform: scale(1.02);
}
#product .card h4{
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
#product .card .card-text{
    font-size: 15px;
    color: black;
}

#product .card img{
    height: 350px;

    object-fit: cover;
    align-items: center;
    justify-content: center;
}
#product .card img .imgdiv{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#product .card button{
    border-radius: 50px !important;
}
#product .card button:hover{
    background-color: #a434b7 !important;
}
#product .card .btn{
    border-radius: 50px !important;
}
#product .card .btn:hover{
    background-color: #a434b7 !important;
}
/*reviews*/
.testimonials{
    padding: 65px;
    margin-bottom: 17px;
    margin-top: 39px;
}
.testimonials h1{
    font-family: Chapaza;
    text-align: center;
    text-transform: capitalize;

}
.testimonials h1::after{
    content: '';
    background: #cc0099;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto 5px;
}
.testimonials .row{
    margin-top: 78px;
}
.col-md-4{
    margin: 40px auto;
}
.profile{

    background-color: #efefef;
}
.profile img{
    top:-34px;
    position: relative;
    left:calc(50% - 197px);
    border: 10px solid white;

}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color: #ff9800;
}
blockquote{
    font-size: 16px;

}

.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .5s;
}
.profile p{
    margin-top: 5px;
}
/*contact*/
#contact h1{

    text-decoration-thickness:from-font;
    text-transform: uppercase;

}
#contact h1::after{
    content: '';
    background: #cc0099;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto;
}
#contact .form-control{
    border:2px solid #000;
}
#contact .card{
    border-color:black;
}
#contact .card:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: .5s;
}
.map{
    object-fit: cover;
    width:auto;
}
/*location*/
#weather{

    font-size: 12px;
   position: absolute;
   color: black;
   background-color: #fff;
   white-space: nowrap;
   border:3px solid white;
   border-radius: 7px;
   margin-left: -21px;
}

.home_usps_wrap {
    position: relative;
    z-index: 9;
    background: #ffc1071a;
    
}
span.us_image {
    position: absolute;
    top: 0px;
    left: 0;
}
span.right_image{
    position: absolute;
    right: 0px;
    top: -5px;
}
.home_usps_wrap .card{
    align-items: center;
}
.home_usps_wrap .card img{
    height: 139px;
    width: 139px;

}
.section{
    background-color: #bbbbbb4a;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    /* margin: 2rem auto 0 auto ; */
    align-items: center;
}
.section img{
    height: 250px;
    margin: 2px;
    border-style: double;
    border-radius: 3px;
}


.section p{
    color: #000;
    text-align: center;
    margin: revert;
}

#about h1{
    font-family: Chapaza;
    text-decoration-thickness:from-font;
    
z-index: 0;
}
#about h1::before{
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0284/5599/3449/files/Vector_36.png?v=1610691840);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    width: 165px;
    height: 85px;
    z-index: -1;
}
#about h1::after{
    content: '';
    background: #cc0099;
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px auto;
}
